html {
    min-height: 100%;
    margin: 0;
    padding: 0;

}

body {

    height: 100vh;
    width: auto;
    margin: 0;
    padding: 0;
    overflow-x: hidden;

}

.background {
    padding: 3rem 0 2rem;
    margin: 0;
    min-height: 100%;
    background-color: #1ed9d2;
    background-image: linear-gradient(347deg, #1ed9d2 0%, #FFFFFF 21%, #ffffff 71%, #839dff 90%, #5e32b3 100%);
    background-repeat: no-repeat;
    background-size: cover;
}



/* BACKGROUNDS */
main {
    width: 100vw;
}

.main-container{
    position: relative;
    width: 100vw;
}

/* NAVIGATION BAR */
.brand-logo {
    margin-left: 3rem;
    z-index: 10;
}


@media screen and (max-width: 994px) {
    .brand-logo {
        margin-left: 0;
    }
}



/* LOGIN */
.index {
    min-height: calc(100vh - 190px);
    background: url(/static/img/login.jpg);
    background-size: cover;
    background-position: center;
    z-index: 1;
    margin-top: -9px;
}

/* REGISTER*/
.register-content {
    height: 75vh;
    position: relative;
}

.login-card {
    position: absolute;
    z-index: 999;
    margin: 2rem auto;
    left: 0;
    right: 0;
    text-align: center;
    top: 10%;
}
#register{
    height: 50vh;
    margin-top: 20vh;
    margin-left: 50vw;
}

.log-title>h4 {
    padding-left: 8rem;
    
}

@media screen and (max-width: 630px) {
    #register { display: none; }
}

/* MAIN */

.main-content {
    min-height: 78vh;
    position: relative;
}

/* VIEW CLASS */
 .element-wrap {

     background-color: rgba(245, 245, 245, 0.776);
 }

/* FOOTER */
.copyright {
    color: rgba(1, 48, 48, 0.543);
    font-size: .7rem;
}
.disclaimer {
    font-size: .6rem;
     color: rgba(1, 48, 48, 0.543);
}

footer {
    position: sticky;
    width: 100vw;
}

/* TITLES */

.sub-title {
    font-size: 1.2rem;
    font-weight: 600;
}
/* ALERTS */
#alerts {
    position: absolute;
    display: none;
    min-height: 50px;
    top: 80%;
    left: 0;
    z-index: 999;
    background-color: rgba(0, 0, 0, 0.5);
    color: #ffffff;
}

#alerts p {
    margin: 10px 0px;
}

/* ELEMENTS */
/* Collapsible header */

.collapsible-header:hover,
.collapsible-header:active {
    background-color: rgba(201, 228, 232, 0.448);
}

/* collapsible-main - exercises */
.collapsible-opened-1 {
    background-color: rgb(176, 224, 230);
}

/* collapsible-sub - exercises / content */
.collapsible-opened-2 {
    background-color: rgba(201, 228, 232, 0.448);
}

/* collapsible-log - logs */
.collapsible-opened-3 {
    background-color: rgba(163, 237, 213, 0.79);
}

/* collapsible-elements - class elements */
.collapsible-opened-4 {
    background-color: rgb(185, 207, 245);
}

/* Collapsible body */
.collapsible-body {
    background-color: whitesmoke;
}

/* Elements Collapsible Body */
.elements-body {
    background-color: rgb(253, 253, 255)
}

/* Collection item */
.collection-item:hover,
.collection-item:active {
    background-color: rgba(201, 228, 232, 0.448)!important;
}

/* BUTTONS and LINKS*/

button:link,
button:hover,
button:active,
a:link,
a:hover,
a:active {
    text-decoration: none;
    color: white;
    background-color: none;
}

.fixed-action-button {
    position: absolute !important;
}


@media screen and (min-width: 330px) {
    .margin-gap {
    margin-right: .8rem;}
}
   
/* SUMMERNOTE */

.note-hover {
    background-color: rgb(216, 243, 247) !important;
}

.button-selected {
    background-color: rgb(3, 109, 138);
}

.tool-selected {
    color: white;
}

/* NAVIGATION BAR */

.nav_wrapper {
    height: 71px;
}

.navibar>li>a {
    max-height: 64px !important;
}

.navibar>li>a:hover,
.navibar>li>a:focus,
.navibar>li>a:active {
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
    background-color: none !important;
}


.small-tools {
    max-height: 2.4em !important;
}

.small-icon {
    font-size: 1.6rem !important;
}

.delete-small {
    color: rgb(255, 73, 73);
    font-size: 1.4rem !important;
}

/* DIVIDERS */
.divider {
    background-color: rgba(3, 109, 138, 0.5);
    height: 1px;
}

/* COLLECTIONS */
.collection-item-selectable:hover,
.collection-item-selectable:active {
    background-color: rgba(201, 228, 232, 0.448) !important;
}


.link-text {
    color: rgb(3, 109, 138);
}

/* FORMS */
label {
    color: rgb(60, 58, 58) !important;
}

label.list-label {
    font-size: .8rem !important;
    color: rgb(60, 58, 58) !important;
}

/* DATE PICKER */
.modal.datepicker-modal {
    height: auto !important;
    box-sizing: border-box;
}

.datepicker-day-button:hover {
    color: rgb(255, 73, 73);
}

.datepicker-clear:hover,
.datepicker-cancel:hover,
.datepicker-done:hover {
    background-color: rgb(216, 243, 247) !important;
    color: rgb(3, 109, 138);
    font-weight: 500;
}