html {
    min-height: 100%;
    margin: 0;
    padding: 0;

}

body {

    height: 100vh;
    width: auto;
    margin: 0;
    padding: 0;
    overflow-x: hidden;

}

.background {
    padding: 0;
    margin: 0;
    min-height: 100%;
    background-color: #1ed9d2;
    background-image: linear-gradient(347deg, #1ed9d2 0%, #FFFFFF 21%, #ffffff 71%, #839dff 90%, #5e32b3 100%);
    background-repeat: no-repeat;
    background-size: cover;
}



/* BACKGROUNDS */
main {
    width: 100vw;
}

.main-container{
    position: relative;
    width: 100vw;
}

/* NAVIGATION BAR */
.brand-logo {
    z-index: 10;
}



/* LOGIN / REGISTER */
.index-content {
    background: url(/static/img/login.jpg);
    background-size: cover;
    background-position: center;
    z-index: 1;
    min-height: 375px;
}

.login-card {
    position: absolute;
    z-index: 800;
    left: 0;
    right: 0;
}
.required-notice {
    color: rgb(3, 109, 138);
    font-size: .8rem;
}

#register{
    position: absolute;
    height: 50vh;
    margin-top: 20vh;
    margin-left: 50vw;
    min-height: 364px;
}

/* MEDIA QUERIES */

@media screen and (min-width: 993px)  {
    .index-content {
        margin-top: -9px;
        height: calc(100vh - 98px);
        margin-left: -10vw;
        margin-right: -10vw;
    }
    .register-content {
        height: calc(100vh - 106px);
        min-height: 650px;
        margin-left: -10vw;
        margin-right: -10vw;
    }
    .brand-logo {
        margin-left: 3rem;
    }

    #logo {
        height: 68px;
    }

    .footer-content {
        height:  42px;
    }

    .main-content {
        min-height: calc(100vh - 106px);
    }

    .log-title>h4 {
        padding-left: 20vw;
        padding-top: 2rem;
    }
    .alert {
        margin: auto;
    }

    #alerts {
        top: 8.2rem;
    }

    #messages {
        width: 80vw;
    }
}

@media screen and (max-width: 992px) and (min-width: 631px) {
    .log-title>h4 {
        padding-left: 8rem;
    }

    .index-content {
        height: calc(100vh - 106px);
        margin-left: -10vw;
        margin-right: -10vw;
    }

    #logo {
        height: 64px;
    }

    .register-content {
        height: calc(100vh - 106px);
        min-height: 560px;
    }

    #messages {
        width: 100vw;
      /* background-color: rgba(253, 6, 112, 0.6);*/ 
    }

    .footer-content {
        height:  42px;
    }

    .main-content {
        min-height: calc(100vh - 106px);
    }

    .margin-gap {
        margin-right: .8rem;
    }
}


@media screen and (max-width: 630px) and (min-width: 315px) {
    .sidenav {
        max-width: 66vw;
    }

    #register { 
        display: none; 
    }

    .index-content { 
        background: none;
        height: calc(100vh - 90px);
    }

    .register-content {
        height: calc(100vh - 90px);
        min-height: 560px
    }

    .footer-content {
        height:  34px;
    }

    .log-title>h4 {
        padding-left: 2rem
    }

    #logo {
        height: 60px;
    }

    #messages {
        width: 100vw;
    }

    .main-content {
        min-height: calc(100vh - 90px);
    }

    .container {
        padding: 0;
    }
}

/* VIEW CLASS */
 .element-wrap {

     background-color: rgba(245, 245, 245, 0.776);
 }

/* FOOTER */
.copyright {
    color: rgba(1, 48, 48, 0.543);
    font-size: .7rem;
}
.disclaimer {
    font-size: .6rem;
     color: rgba(1, 48, 48, 0.543);
}

footer {

    padding-top: 0px!important;
}

/* TITLES */

.sub-title {
    font-size: 1.2rem;
    font-weight: 600;
}

.class-title {
    padding: 0;
}

/* PASSWORD INFO */

.password-label {
    display: inline-block;
}

#password-info {
    display: flex;
    float: right;
    margin: 4px;
    padding-top: 1px;
    height: 1.4rem;
}

.hide-info {
    display: none;
}

.password-info-card {
    min-height: 456px!important;
}

.password-info-list {
    margin-top: 20px;
}
.password-info-list>li {
    margin-bottom: .8rem;
    padding-left: .5rem;
    font-size: 1rem;
    font-style: italic;
    font-weight: 300;
    letter-spacing: -1px;
}


/* ALERTS */
#alerts {
    position: absolute;
    top: 7rem;
    z-index: 999;
    font-size: 1.2em;
    font-family: inherit;
}

.alert {
    margin: auto;
    text-align: center;
}
.alert-message {
    display: inline-block;
}

#messages {
    height: 45px;
}

/* ------------------------ ELEMENTS ------------------------ */

/* COLLAPSIBLE ELEMENTS */
/* Collapsible header */

.collapsible-header:hover,
.collapsible-header:active {
    background-color: rgba(201, 228, 232, 0.448);
}

/* collapsible-main - Exercises */
.collapsible-opened-1 {
    background-color: rgb(176, 224, 230);
}

/* collapsible-sub - Exercise content */
.collapsible-opened-2 {
    background-color: rgba(201, 228, 232, 0.448);
}

/* collapsible-log - Logs */
.collapsible-opened-3 {
    background-color: rgba(163, 237, 213, 0.79);
}

/* collapsible-elements - (Class) Elements */
.collapsible-opened-4 {
    background-color: rgb(185, 207, 245);
}

/* Collapsible body */
.collapsible-body {
    background-color: whitesmoke;
}

/* (Class) Elements collapsible body */
.elements-body {
    background-color: rgb(253, 253, 255)
}

/* Collapsible body as a link (viewClass.html, series.html, viewClassInSeries.html 
https://stackoverflow.com/questions/796087/make-a-div-into-a-link provided instruction how to achieve this*/


.collapsible-link {
    position: relative;
}

.collapsible-link:hover {
    background-color: #ffffff;
}

.collapsible-link a::after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
}

.waves-effect.waves-brown .waves-ripple {
    background-color: rgb(176, 224, 230);
}

.header-alt {
    list-style-type: none;
}

/* COLLECTION ELEMENTS */
/* Collection item */
.collection-item:hover,
.collection-item:active {
    background-color: rgba(201, 228, 232, 0.448)!important;
}

.collection-item-selectable:hover,
.collection-item-selectable:active {
    background-color: rgba(201, 228, 232, 0.448) !important;
}

.link-text {
    color: rgb(3, 109, 138);
}

/* Delete button in Tracks and Links */
.delete-small {
    color: rgb(255, 73, 73)!important;
    font-size: 1.4rem!important;
}

/* BUTTONS and LINKS*/
/* This cancels the default button css behavior of button and a link elements */
button:link,
button:hover,
button:active,
a:link,
a:hover,
a:active {
    text-decoration: none;
    color: white;
    background-color: transparent;
}

.fixed-action-button {
    position: absolute!important;
}

/* This cancels the default floating button action on tools master button */
.master-button {
    opacity: 1!important;
    transform: none!important;
    -webkit-transform: none!important;
    -moz-transform: none!important;
    -ms-transform: none!important;
    -o-transform: none!important;
}

/* Styling of the action buttons in exercises and log sections  */
.small-tools {
    max-height: 2.4em!important;
}

.small-icon {
    font-size: 1.6rem!important;
}
   
/* SUMMERNOTE RICH TEXT EDITOR */

.note-hover {
    background-color: rgb(216, 243, 247) !important;
}

.button-selected {
    background-color: rgb(3, 109, 138);
}

.tool-selected {
    color: white;
}


/* NAVIGATION BAR */

.nav-wrapper {
    max-height: 64px;
}

.navibar>li>a {
    max-height: 64px !important;
}

.navibar>li>a:hover,
.navibar>li>a:focus,
.navibar>li>a:active {
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
    background-color: transparent;
}


/* DIVIDERS */
.divider {
    background-color: rgba(3, 109, 138, 0.5);
    height: 1px;
}


/* FORMS */
label {
    color: rgb(60, 58, 58) !important;
}

label.list-label {
    font-size: .8rem !important;
    color: rgb(60, 58, 58) !important;
}

input.form-control {
    background-color: transparent;
}

/* DATE PICKER */
.modal.datepicker-modal {
    height: auto !important;
    box-sizing: border-box;
}

.datepicker-day-button:hover {
    color: rgb(255, 73, 73);
}

.datepicker-clear:hover,
.datepicker-cancel:hover,
.datepicker-done:hover {
    background-color: rgb(216, 243, 247) !important;
    color: rgb(3, 109, 138);
    font-weight: 500;
}