{% extends "base.html"%}
{% block content %}
<h3>Add New Exercise</h3>

<!-- EXERCISE FORM  -->
<form class="col s12" method="POST" action="{{ url_for('insert_exercise', class_id=this_class._id) }}"
    id="add_exercise_form" autocomplete="off">
    <!-- Disabled autocompletion -->

    <!-- FORM SECTIONS-->
    {% include 'exerciseForm.html' %}

    <!-- BOTTOM BUTTONS SAVE/ CANCEL-->
    <!-- SAVE inserts the content and returns to CLASS FORM  - .insert() new document with new exercise _id and possible sub-document _id,s-->
    <!-- CANCEL does not save the content and returns to the CLASS FORM - .get() the class without changes -->
    <div class="divider"></div>
        <div class="section">
            <div class="container bottom_actions ml-0 mr-0 mt-6 mb-6 w-100">
                <div class="row">
                    <div class="col d-flex justify-content-end">
                        <button
                            class="btn-small waves-effect waves-light green tooltipped save mr-2" type="submit"
                            name="save_log" data-position="top" data-delay="50" data-tooltip="Save and go back">
                            <i class="material-icons left">save</i>Save</button>

                        <a href="{{ url_for('edit_class') }}"
                            class="btn-small waves-effect waves-light grey tooltipped cancel"
                            type="submit" value="Cancel" formnovalidate name="back_to_class" 
                            data-position="top" data-delay="50" data-tooltip="Cancel and go back">
                            Cancel</a>
                    </div>
                </div>
            </div>
        </div>
</form>
{% endblock content %}