{% extends "base.html"%}

{% block content %}
<h3>Add a log</h3>
<!-- ADD LOG -->
<form class="col s12 l6" method="POST" action="{{ url_for('insert_log', username=session['user'], class_id = class_id ) }}" id="add_log_form"
    autocomplete="off">
    <!-- ADD LOG DATE-->
    <section class="log_form">
        <div class="row">
            <div class="input-field col s12 l4" id="matfix">
                <i class="material-icons prefix">today</i>
                <input id="log_date" name="log_date" type="text" class="datepicker" placeholder="">
                <label for="icon_prefix" class="list-label ml-2">Log date</label>
            </div>
        </div>
        <!-- ADD LOG CONTENT-->
        <div class="row">
            <div class="input-field col s12 l6">
                <i class="material-icons prefix">label_outline</i>
                <input type="text" class="form-control text-capitalize validate" id="tag_log" name="log_tag" required="required"
                    placeholder="">
                <label for="tag_log" class="list-label ml-2">Log Tag</label>
            </div>
        </div>
        <!-- ADD LOG CONTENT-->
        <div class="row">
            <div class="input-field col s12 l6">
                <i class="material-icons prefix">event_note</i>
                <textarea class="materialize-textarea form-control" id="add_log" name="log_text" required="required"
                    placeholder=""></textarea>
                <label for="add_log" class="list-label ml-2">Log</label>
            </div>
        </div>
    </section>
    <!-- BOTTOM BUTTONS SAVE/ CANCEL-->
    <!-- SAVE inserts the content and returns to CLASS FORM  - .insert() new document with new log _id-->
    <!-- CANCEL does not save the content and returns to the CLASS FORM - .get() the class without changes -->
    <section class="button-nav">
        <div class="divider"> </div>
        <br>
        <div class="container bottom_actions ml-0 mr-0 mt-6 mb-6 w-100">
            <div class="row no-gutters">
                <div class="col d-flex justify-content-end">
                    <button class="btn-small waves-effect waves-light green tooltipped save mr-2"
                        type="submit" name="save_log" data-position="top" data-delay="50"
                        data-tooltip="Save and go back">
                        <i class="material-icons left">save</i>Save</button>

                    <!-- Check the class_id and repopulate the add_class form -->
                    <a href="{{ url_for('view_class', class_id = class_id) }}" class="btn-small waves-effect waves-light grey tooltipped cancel mr-n3"
                        type="submit" value="Cancel" formnovalidate name="back_to_class" data-position="top" data-delay="50"
                        data-tooltip="Cancel and go back">
                        <i class="material-icons left">chevron_left</i>Cancel</a>
                </div>
            </div>
        </div>
    </section>
</form>

{% endblock %}