{% extends "base.html"%}

{% block content %}
<!-- ADD MUSIC TRACK-->
<div class="main-content">
    <div class="row">
        <div class="col mb-4 mt-2">
            <h3>Add a Music Track</h3>
        </div>
    </div>
    <form class="col s12 l6" method="POST"
        action="{{ url_for('insert_track', class_id = class_id, exercise_id = exercise_id, username=session['user']) }}"
        id="add_track_form" autocomplete="off">

        <!-- ADD TRACK TITLE-->
        <div class="row">
            <div class="input-field col s12 l10">
                <i class="material-icons prefix">title</i>
                <input type="text" class="form-control text-capitalize validate" id="add_track_title" name="track_title"
                    placeholder="Music track title" required="required">
                <label for="add_track_title" class="ml-2">Music Track Title</label>
            </div>
        </div>

        <!-- ADD TRACK URL-->
        <div class="row">
            <div class="input-field col s12 l10">
                <i class="material-icons prefix">insert_link</i>
                <input type="url" class="form-control text-capitalize validate" id="add_track_link" name="track_link"
                    placeholder="Music track link" required>
                <label for="add_track_link" class="ml-2">Music Track Link</label>
            </div>
        </div>

        <!-- ADD TRACK COMMENT-->
        <div class="row">
            <div class="input-field col s12 l6">
                <i class="material-icons prefix">insert_comment</i>
                <textarea class="materialize-textarea form-control validate" id="add_track_comment" name="track_comment"
                    placeholder="Comment"></textarea>
                <label for="add_track_comment" class="ml-2">Comment</label>
            </div>
        </div>

        <!-- BOTTOM BUTTONS SAVE/ CANCEL-->
        <!-- SAVE inserts the content and returns to CLASS FORM  - .insert() new document with new exercise _id -->
        <!-- CANCEL does not save the content and returns to the CLASS FORM - .get() the class without changes -->
        <div class="divider"> </div>
        <div class="container bottom_actions p-0 w-100">
            <div class="row no-gutters w-100 mb-5 mt-5 mx-0">
                <div class="col d-flex mt-3 p-0 justify-content-end">
                    <button class="btn-small waves-effect waves-light green tooltipped save mr-2" type="submit"
                        name="save_track" data-position="top" data-delay="50" data-tooltip="Save and go back">
                        <i class="material-icons left">save</i>Save</button>

                    <!-- Check the exercise _id and repopulate the add_exercise form -->
                    <a href="{{ url_for('view_class', class_id = class_id) }}"
                        class="btn-small waves-effect waves-light grey tooltipped"
                        data-position="top" data-delay="50" data-tooltip="Cancel and go back">
                        Cancel</a>
                </div>
            </div>
        </div>
    </form>
</div>
{% endblock %}