<!DOCTYPE html>
<html lang="en">

    <head>
        <!-- Metadata-->
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="Author" content="Jussi Nousiainen">
        <meta name="keywords" content="dance class, dance teacher, dance">

        <!--Links -->
        {% include 'head.html' %}

        <!-- Scripts -->
        {% include 'scripts.html' %}

        <!-- Titles -->
        {% if title %}
        <title>Classapp - {{ title }}</title>
        {% else %}
        <title>Classapp</title>
        {% endif %}

    </head>

    <body>
        <!-- Navigation -->
        {% include 'navbar.html' %}
        <!-- Main content -->
        <div class="container-fluid background">
        <main class="container pl-0 pr-0"> 

            {% block content %}
            {% endblock content%}

        </main>
       
        <!-- Footer -->
        {% include 'footer.html' %}
    </div>
    </body>

</html>