<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <!-- General standard links -->
        {% include 'head.html' %}
        <!-- General custom styles -->
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.css') }}">

        {% if title %}
        <title>Classapp - {{ title }}</title>
        {% else %}
        <title>Classapp</title>
        {% endif %}

    <body>

        <!-- Navigation -->
        {% include 'navbar.html' %}

        <div class="container pr-0">
                <div class="row mt-15"></div>
            {% block content %} 
            {% endblock %}
        </div>

        {% include 'scripts.html' %}

    </body>

</html>