{% extends "base.html"%}
{% block content %}
<h1>Classes</h1>
<p>You have created <b> </b> classes {{ current_user.username }}</p>
<ul class="collapsible" data-collapsible="accordion">
    {% for class in classes %}
    <li class="classes">
        <div class="collapsible-header">
            <div class="class_header col">
                <i class="material-icons accordion_arrow">expand_more</i>
                <strong>{{ class.class_name }}</strong>
            </div>
        </div>
        <div class="collapsible-body">
            <span>{{ class.class_description }} </span>
            <!-- Tool buttons for the classes -->
            <div class="fixed-action-btn">
                <a class="btn-floating btn-large red">
                    <i class="large material-icons">menu</i>
                </a>
                <ul>
                    <li><a href="{{ url_for('view_class', class_id=class._id) }}"
                            class="btn-floating yellow darken-2"><i class="material-icons">remove_red_eye</i></a></li>
                    <li><a href="{{ url_for('edit_class', class_id=class_id) }}" class="btn-floating green"><i
                                class="material-icons">edit</i></a></li>
                    <li><a href="{{ url_for('delete_class', class_id=class._id) }}" class="btn-floating red"><i
                                class="material-icons">delete</i></a></li>
                    <li><a href="{{ url_for('copy_class', class_id=class._id) }}" class="btn-floating blue-lighten-2"><i
                                class="material-icons">content_copy</i></a></li>
                </ul>
            </div>
        </div>
    </li>
    {% endfor %}
</ul>

<a href="{{ url_for('add_class') }}"
    class="btn-floating btn-large waves-effect waves-light blue"><i class="material-icons">library_add</i></a>

{% endblock content %}