{% extends "base.html"%}

{% block content %}
<div class="row">
    <div class="col top-spacer mt-10"></div>
</div>
<!-- SERIES VIEW -->
<section class="series-view">
    <h3>Classes</h3>
    <p>You have created <b> </b> classes {{ username.username }}</p>
</section>
{{ back_text }} {{ back_url }}
<section class="series-view-content">
    <ul class="collapsible collapsible-main">
        {% for class in classes %}
        <li class="accordion_list">
            <div class="collapsible-header level-1">
                <div class="list_header col">
                    <strong>{{ class.class_name }}</strong>
                </div>
            </div>
            <div class="collapsible-body">
                <span>{{ class.class_description }} </span>

                <!-- TOOLS BUTTON FOR THE TOOLS: EDIT/DELETE/DUPLICATE/ADD EXERCISE/ ADD LOG-->
                <section class="tools">
                    <div class="fixed-action-btn vertical">
                        <a class="btn-floating btn-large red accent-4 tooltipped z-depth-5"
                           data-tooltip="Editor tools">
                            <i class="medium material-icons">build</i></a>
                        <ul>
                            <li><a href="{{ url_for('view_class', class_id=class._id, username = username, back_text = back_text, back_url = back_url ) }}"
                                    class="btn-floating light-green darken-2 z-depth-5 tooltipped" data-position="left" data-delay="50"
                                    data-tooltip="View class">
                                    <i class="material-icons">remove_red_eye</i></a></li>
                            <li><a href="{{ url_for('edit_class', class_id=class._id, username=username) }}"
                                    class="btn-floating yellow darken-2 z-depth-5 tooltipped" data-position="left" data-delay="50"
                                    data-tooltip="Edit class">
                                    <i class="material-icons">edit</i></a></li>
                            <li><a href="{{ url_for('delete_class', class_id=class._id, series_doc = series._id) }}"
                                    class="btn-floating red z-depth-5 tooltipped" data-position="left" data-delay="50"
                                    data-tooltip="Delete class">
                                    <i class="material-icons">delete</i></a></li>
                            <li><a href="{{ url_for('copy_class', class_id=class._id, username=username) }}"
                                    class="btn-floating blue-lighten-2 z-depth-5 tooltipped" data-position="left" data-delay="50"
                                    data-tooltip="Duplicate class">
                                    <i class="material-icons">content_copy</i></a></li>
                        </ul>
                    </div>
                </section>
            </div>
        </li>
        {% else %}
        <li>
            <em>No classes created yet</em>
        </li>
        {% endfor %}
    </ul>
    <br>
</section>
<!-- Button to add a new class -->
<div class="divider"></div>
<br>
<div class="section mb-4">
    <div class="container bottom_actions w-100">
        <div class="row">
            <div class="col ml-n3 mb-6">
                <a href="{{ url_for('add_class') }}" class="btn-small waves-effect waves-light blue tooltipped"
                    data-position="right" data-delay="50" data-tooltip="Add a new class">
                    <i class="material-icons left">library_add</i>Add New Class</a>
            </div>
        </div>
    </div>
</div>
{% endblock content %}