{% block content %}

<!-- EXERCISE FORM SECTIONs -->
<section class="exercise_form">
    <!-- ADD EXERCISE NAME -->
    <div class="row">
        <div class="input-field col s12 l10">
            <i class="material-icons prefix">bookmark</i>
            <input type="text" class="form-control text-capitalize validate" id="add_exercise_name" value="{{ this_exercise.exercise_name }}" name="exercise_name"
                placeholder="Exercise name" required="required" validate>
            <label for="add_exercise_name" class="list-label ml-2">Exercise name</label>
        </div>
    </div>
    <!-- ADD EXERCISE DESCRIPTION -->
    <div class="row">
        <div class="input-field col s12 l10">
            <i class="material-icons prefix">description</i>
            <textarea class="materialize-textarea form-control validate" id="add_exercise_description"
                name="exercise_description" placeholder="Description" required="required"></textarea>
            <label for="add_exercise_description" class="list-label ml-2">Exercise description</label>
        </div>
    </div>
    <!-- ADD COMMENT -->
    <div class="row">
        <div class="input-field col s12 l10">
            <i class="material-icons prefix">comment</i>
            <textarea class="materialize-textarea form-control validate" id="add_comment" name="exercise_comment"
                placeholder="Comment"></textarea>
            <label for="add_comment" class="list-label ml-2">Comment</label>
        </div>
    </div>
    <!-- ADD AIM -->
    <div class="row">
        <div class="input-field col s12 l10">
            <i class="material-icons prefix">star</i>
            <textarea class="materialize-textarea form-control validate" id="add_aim" name="exercise_aim"
                placeholder="Aim of the exercise"></textarea>
            <label for="add_aim" class="list-label ml-2">Aim</label>
        </div>
    </div>
</section>

{% if exercise %}
<section class="media music-tracks">
    <!-- MUSIC TRACKS SECTION-->
    <br>
    <!--ADD/DELETE MUSIC TRACKS-->
    <div class="row">
        <div class="col s12 l10">
            <h6>Music Tracks:</h6>
            <ul class="collection with-header">
                <li class="collection-header">
                    <i class="material-icons">music_note</i> Music tracks
                </li>
                {% for track in this_exercise.tracks %}
                <li class="collection-item">
                    <span class="title">{{ track.track_title }} &nbsp;</span>
                    <em>/ &nbsp; {{ track.track_comment | capitalize}}</em>
                </li>
                {% else %}
                <li class="mb-6">
                    <strong class="mb-6">No music tracks added yet</strong>
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</section>

<section class="media video-links">
    <!-- VIDEO LINKS SECTION-->
    <br>
    <!--ADD/DELETE VIDEO LINKS-->
    <div class="row">
        <div class="col s12 l10">
            <h6>Video Links:</h6>
            <ul class="collection with-header">
                <li class="collection-header">
                    <i class="material-icons circle black prefix">video_library</i>Video Links
                </li>
                {% for link in this_exercise.video_links %}
                <li class="collection-item">
                    <span class="title">{{ link.video_title | title}}</span><br>
                    <em>{{ link.video_text }}</em>
                </li>
                {% else %}
                <li class="mb-6">
                    <strong class="mb-6">No music tracks added yet</strong>
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</section>
{% endif %}

{% endblock %}