<!-- Link Tags-->

<!-- FAVICON -->
<link rel="icon" type="image/png" href="/static/img/favicon-icon.png">

<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">

<!-- Summernote Rich Text Editor BS.4.--->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/summernote@0.8.16/dist/summernote-bs4.min.css">

<!-- MATERIALIZE ICONS -->
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

<!-- MATERIALIZE 1.0.0. Compiled and minified CSS -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

<!-- General custom styles -->
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.css') }}">