<!-- Navigation navbar-->
<header class="header">
    <nav>
        <div class="nav-wrapper grey darken-4">
            <a href="{{ url_for('classes') }}" class="brand-logo"><img src="/static/img/classapp_logo.png"
                    alt="Logo" id="logo" class="img-responsive"></a>
            <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
            {% if 'user' in session %}
            <ul id="nav-mobile" class="right navibar hide-on-med-and-down m-0 p-0">
                <li><a href="{{ url_for('classes') }}" class="mb-2">Home</a></li>
                <li><a href="{{ url_for('series') }}" class="mb-2">Series</a></li>
                <li><a href="{{ url_for('logout') }}" class="mr-5 mb-2">Logout</a></li>
            </ul>
        </div>
    </nav>
   <ul class="sidenav" id="mobile-demo">
        <li><a href="{{ url_for('classes') }}" class="mt-5">Home</a></li>
        <li><a href="{{ url_for('series') }}">Series</a></li>
        <li><a href="{{ url_for('logout') }}">Logout</a></li>
    </ul>
   {% else %}
   
    <ul id="nav-mobile" class="right navibar hide-on-med-and-down">
        <li><a href="{{ url_for('index') }}" class="mb-2">Login</a></li>
        <li><a href="{{ url_for('register') }}" class="mb-2 mr-5">Register</a></li>
    </ul>
    </div>
    </nav>

    <ul class="sidenav" id="mobile-demo">
        <li><a href="{{ url_for('index') }}" class="mt-5">Login</a></li>
        <li><a href="{{ url_for('register') }}">Register</a></li>
    </ul>
    {% endif %}

    <!-- Flashed messages alerts modal -->
    <div id="alerts" class="container-fluid">
        <div class="row justify-content-around">
            <div id="messages">
                {% with messages = get_flashed_messages() %}
                {% if messages %}
                {% for message in messages %}
                <h4 class="text-center">{{ message }}</h4>
                {% endfor %}
                {% endif %}
                {% endwith %}
            </div>
        </div>
    </div>
</header>