<!-- Navigation navbar-->
<header class="header">
	{% if 'user' in session %}
	<nav>
		<div class="nav-wrapper col grey darken-4">
			<a href="{{ url_for('classes', username=username) }}" class="brand-logo"><img
					src="/static/img/classapp_logo.png" alt="Logo" id="logo" class="img-responsive"></a>
			<a href="#" data-target="mobile-demo" class="sidenav-trigger"><i
					class="material-icons small menu">menu</i></a>
			<ul id="nav-mobile" class="right navibar hide-on-med-and-down m-0 p-0">
				<li><a href="{{ url_for('classes', username=session['user']) }}" class="mb-2 navitem">Home</a></li>
				<li><a href="{{ url_for('series') }}" class="mb-2 navitem">Series</a></li>
				<li><a href="{{ url_for('logout') }}" class="mr-5 navitem mb-2">Logout</a></li>
			</ul>
		</div>
	</nav>
	<ul class="sidenav" id="mobile-demo">
		<li><a href="{{ url_for('classes', username=session['user']) }}" class="mt-5">Home</a></li>
		<li><a href="{{ url_for('series') }}">Series</a></li>
		<li><a href="{{ url_for('logout') }}">Logout</a></li>
	</ul>
	{% else %}
	<nav>
		<div class="nav-wrapper col grey darken-4">
			<a href="#" class="brand-logo"><img src="/static/img/classapp_logo.png" alt="Logo" id="logo"
					class="img-responsive"></a>
			<a href="#" data-target="mobile-demo" class="sidenav-trigger"><i
					class="material-icons small menu">menu</i></a>
			<ul id="nav-mobile" class="right navibar hide-on-med-and-down">
				<li><a href="{{ url_for('index') }}" class="mb-2 navitem">Login</a></li>
				<li><a href="{{ url_for('register') }}" class="mb-2 navitem mr-5">Register</a></li>
			</ul>
		</div>
	</nav>

	<ul class="sidenav" id="mobile-demo">
		<li><a href="{{ url_for('index') }}" class="mt-5">Login</a></li>
		<li><a href="{{ url_for('register') }}">Register</a></li>
	</ul>
	{% endif %}

	<!-- Flashed messages alerts modal -->

	{% with messages = get_flashed_messages(with_categories=true) %}
	{% if messages %}
	<div id="alerts" class="container-fluid">
		{% for category, message in messages %}
		<div class="row">
			<div id="messages" class="alert alert-{{ category }} alert-dismissible fade show" role="alert">
				<p class="alert-message"> {{ message }}</p>
				<button type="button" class="close" data-dismiss="alert" aria-label="close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
		</div>
		{% endfor %}
	</div>
	{% endif %}
	{% endwith %}
</header>