{% extends "base.html" %}

{% block content %}
<div class="register-content">
	<div class="row register">
		<div class="class-title log-title col s12 m10 l6">
			<h3>Register</h3>
		</div>
	</div>
	<img src="/static/img/register.png" alt="Girl dancing and jumping high" id="register">
	<div class="register-card">
		<div class="row register-row">
			<div class="card register-form mx-auto my-auto">
				<div class="card-body">
					<form class="form-signin" method="POST" action="/register">
						<div class="form-group">
							<label for="sign-in-username">Username*</label>
							<input name="username" type="text" value="{{ username }}" class="form-control validate"
								id="sign-in-username" required>
						</div>
						<div class="form-group">
							<label for="email">Email</label>
							<input id="email" name="email" type="email" value="{{ email }}"
								class="form-control validate" required>
						</div>
						<div class="form-group">
							<div class="password-labe"><label for="sign-in-password">Password* </label><i
									id="password-info" class="small material-icons tooltipped" data-position="top"
									data-delay="50" data-tooltip="Password info">info_outline</i>
							</div>
							<input class="form-control validate" name="password" type="password" id="sign-in-password"
								required>
						</div>
						<div class="form-group">
							<label for="sign-in-password">Password again*</label>
							<input class="form-control validate" name="password1" type="password" id="sign-in-password1"
								required>
						</div>
						<div class="form-group">
							<em class="required required-notice">
								*Required field
							</em>
						</div>
						<button class="btn btn-outline-success z-depth-5 btn-lg btn-block"
							type="submit">Register</button>
					</form>
				</div>
			</div>
		</div>
	</div>
	<!-- Password info -->
	<div class="login-card password-info-wrap hide-info">
		<div class="row register-row">
			<div class="card mx-auto my-auto">
				<div class="card-body password-info-card">
					<h5>Password info</h5><br>
					<div class="divider mb-3"></div><br>
					<strong><em>Password should consist of:</em></strong>
					<ol class="password-info-list pl-6">
						<li>At least one number</li>
						<li>At leas one uppercase character</li>
						<li>At least one lowercase character</li>
						<li>At least one special character</li>
						<li>Be 6 to 20 characters long</li>
					</ol>
					<br>
					<div class="divider mb-2"></div>
					<br>
					<div class="container bottom_actions w-100 ">
						<div class="row d-flex no-gutters justify-content-center">
							<button id="close-modal"
								class="btn waves-effect waves-light grey z-depth-5 go_back">Close</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock content %}