{% extends "base.html"%}

{% block content %}
<div class="row">
    <div class="col top-spacer mt-12"></div>
</div>
<!-- SERIES VIEW-->
<div class="main-content">
    <section class="series-view">
        <div class="row">
            <div class="page-title col mb-4 mt-2">
                <h3>Series</h3>
            </div>
        </div>
    </section>
    <section class="series-view-content">
        <ul class="collapsible collapsible-main" data-collapsible="accordion">
            {% for serial in all_series.class_series %}
            <li class="accordion_list">
                <div class="collapsible-header level-1">
                    <div class="list_header col">
                        <!---<i class="material-icons accordion_arrow">expand_more</i>-->
                        <strong>{{ serial.series_name | title}}</strong>
                    </div>
                </div>
                <div class="collapsible-body">
                    <span>{{ serial.series_description | capitalize}}</span>

                    <!-- Tool buttons for series -->
                    <div class="fixed-action-btn vertical">
                        <a class="btn-floating btn-large red tooltipped" data-position="left" data-delay="50"
                            data-tooltip="Editor tools">
                            <i class="medium material-icons">build</i></a>
                        <ul>
                            <li><a href="{{ url_for('view_classes_in_series', series_id = serial._id, series_doc = all_series._id, username = username) }}"
                                    class="btn-floating yellow darken-2 tooltipped" data-position="left" data-delay="50"
                                    data-tooltip="View class series">
                                    <i class="material-icons">
                                        remove_red_eye</i></a></li>
                            <li><a href="{{ url_for('edit_series', series_id = serial._id, series_doc = all_series._id) }}"
                                    class="btn-floating green tooltipped" data-position="left" data-delay="50"
                                    data-tooltip="Edit series">
                                    <i class="material-icons">edit</i></a></li>
                            <li><a href="{{ url_for('delete_series', series_id = serial._id, series_doc = all_series._id) }}"
                                    class="btn-floating red accent-4 tooltipped" data-position="left" data-delay="50"
                                    data-tooltip="Delete class series">
                                    <i class="material-icons">delete</i></a></li>
                        </ul>
                    </div>
                </div>
            </li>
            {% else %}
            <li>
                <strong class="not-yet">You haven't created any class series yet</strong>
            </li>
            {% endfor %}
        </ul>
        <br>
    </section>
    <!-- Button to add a new class -->
    <div class="divider"></div>
    <br>
    <div class="section mb-4">
        <div class="container bottom_actions w-100">
            <div class="row">
                <div class="col ml-n3 mb-6">
                    <a href="{{ url_for('add_series') }}" class="btn-small waves-effect waves-light blue tooltipped"
                        data-position="right" data-delay="50" data-tooltip="Add a new class seriess">
                        <i class="material-icons left">library_add</i>Add Class Series</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}