{% extends "base.html"%}

{% block content %}
<!-- MAIN CLASS INFO -->
<section class="class-info">
    <!-- CLASS TITLE -->
    <div class="row">
        <div class="class-title col s12 m10 l6">
            <h5>{{ this_class.class_name | capitalize }}</h5>
        </div>
    </div>
    <!-- CLASS DESCRIPTION -->
    <div class="row">
        <div class="class-title col s12 m10 l6">
            <h6> Description</h6>
            <span>{{ this_class.class_description | capitalize}}</span>
        </div>
    </div>

    <!-- MAIN ELEMENTS -->
    {% if this_class.main_elements %}
    <div class="row">
        <div class="class-title col s12 m10 l6 mt-1">
            <h6> Main Elements</h6>
            <span>{{ this_class.main_elements | capitalize}}</span>
        </div>
    </div>
    {% endif %}
    <!-- OTHER ELEMENTS -->
    {% if this_class.other_elements %}
    <div class="row">
        <div class="class-title col s12 m10 l6 mt-1">
            <h6>Other Elements</h6>
            <span>{{ this_class.other_elements | capitalize}}</span>
        </div>
    </div>
    {% endif %}
    <!-- CLASS NOTES -->
    {% if this_class.notes %}
    <div class="row">
        <div class="class-title col s12 m10 l6 mt-1">
            <h6> Class Notes</h6>
            <span>{{ this_class.class_notes | capitalize}}</span>
        </div>
    </div>
    <br>
    {% endif %}
</section>

<!-- PLAYLIST LINK -->
<section class="links">
    <div class="divider"> </div>
    <br>
    <div class="row">
        <div class="col-md-3 class-title">
            <h6>Playlist:</h6>
        </div>
        <ul class="col-md-9 collection">
            {% if this_class.playlist %}
            <a href="{{ this_class.playlist_link }}" target="_blank" class="collection-item mr-n3 tooltipped"
                data-position="top" data-delay="50"
                data-tooltip="Go to this playlist"><em>{{ this_class.playlist_title | upper}}</em></a>
            {% else %}

            <a class="collection-item mr-n3"><em>None</em></a>

            {% endif %}
        </ul>
    </div>
</section>

<!-- COLLECTION OF THE CLASS SERIES THE CLASS BELONGS TO -->
<section class="series">
    <div class="divider"> </div>
    <br>
    <div class="row">
        <div class="col-md-3 class-title">
            <h6>Class series:</h6>
        </div>
        <ul class="col-md-9 collection">
            {% for series in this_class.series %}
            <a href="#!" target="_blank" class="collection-item mr-n3 tooltipped" data-position="top" data-delay="50"
                data-tooltip="Go to this series"><em>{{ series.series_name }}</em></a>
            {% else %}
            <a href="#!" target="_blank" class="collection-item mr-n3 tooltipped" data-position="top" data-delay="50"
                data-tooltip="Go to this series"><em>None</em></a>
            {% endfor %}
        </ul>
    </div>
</section>


<!-- EXERCISES SECTION IN CLASS VIEW -->
<section class="exercises">
    <div class="divider"> </div>
    <br>
    <h6>Exercises:</h6>
    <br>
    {% if this_class.exercises %}
    <ul class="collapsible popout" data-collapsible="accordion">
        {% for exercise in this_class.exercises %}
        <li class="this_class">
            <div class="collapsible-header">
                <div class="class_header col">
                    <i class="material-icons accordion_arrow">expand_more</i>
                    <strong class="accordion-title">{{ exercise.exercise_name | capitalize}}</strong>
                </div>
            </div>
            <!-- EXERCISES CONTENT -->
            <div class="collapsible-body">
                <div class="row">
                    <div class="col s12 m12">
                        <ul class="collapsible" data-collapsible="expandable">
                            <li>
                                <div class="collapsible-header active">
                                    <i class="material-icons">description</i>Description</div>
                                <div class="collapsible-body">
                                    <p>{{ exercise.exercise_description | capitalize}}</p>
                                </div>
                            </li>
                            <li>
                                <div class="collapsible-header">
                                    <i class="material-icons">comment</i>Comment</div>
                                <div class="collapsible-body">
                                    <p>{{ exercise.exercise_comment | capitalize}}</p>
                                </div>
                            </li>
                            <li>
                                <div class="collapsible-header">
                                    <i class="material-icons">star</i>Aim</div>
                                <div class="collapsible-body">
                                    <p>{{ exercise.exercise_aim | capitalize}}</p>
                                </div>
                            </li>

                            <!-- Tool buttons for the classes -->
                            <div class="row no-gutters">
                                <div class="col exercise-tools my-2 mx-2 d-flex justify-content-end">

                                    <a href="{{ url_for('edit_exercise', exercise_id=exercise._id) }}"
                                        class="btn-floating btn-tiny mr-2 green tooltipped" data-position="top"
                                        data-delay="50" data-tooltip="Edit exercise"><i
                                            class="material-icons">edit</i></a>
                                    <a href="{{ url_for('delete_exercise', exercise_id=exercise._id) }}"
                                        class="btn-floating btn-tiny red tooltipped" data-position="top" data-delay="50"
                                        data-tooltip="Delete exercise"><i class="material-icons">delete</i></a>
                                </div>
                            </div>
                        </ul>
                        <!-- MUSIc TRACK COLLECTION -->

                        <ul class="collection with-header">
                            <li class="collection-header"><i class="material-icons">music_note</i> Music tracks</li>

                            {% for track in exercise.tracks %}
                            <a href="{{ track.track_link }}" target="_blank" class="collection-item tooltipped"
                                data-position="top" data-delay="50" data-tooltip="Go to this music track">
                                <span class="title">{{ track.track_title }} &nbsp;</span>
                                <em>/ &nbsp; {{ track.track_comment | capitalize}}</em></a>
                            {% else %}
                            <li class="collection-item">
                                <em>You haven't added any music tracks yet</em>
                            </li>
                            {% endfor %}

                        </ul>

                        <!-- VIDEO LINK COLLECTION -->
                        <div class="divider"></div>
                        <ul class="collection with-header">
                            <li class="collection-header"><i class="material-icons">video_library</i> Videos</li>

                            {% for link in exercise.video_links %}
                            <a href="{{ link.video_link }}" target="_blank" class="collection-item tooltipped"
                                data-position="left" data-delay="50" data-tooltip="Go to this video">
                                {{ link.video_title | capitalize}}
                            </a>

                            {% else %}
                            <li class="collection-item">
                                <em>You haven't added any videos yet</em>
                            </li>

                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
        </li>
        {% endfor %}
    </ul>
    {% else %}
    <div class="mb-6">
        <strong class="mb-6">No exercises added yet</strong>
    </div>
    {% endif %}
</section>
<br>

<!-- LOGS SECTION IN CLASS VIEW -->
<section class="logs">
    <div class="divider"> </div>
    <br>
    <h6>Logs:</h6>
    <br>
    {% if this_class.logs %}
    <ul class="collapsible popout" data-collapsible="accordion">
        {% for log in this_class.logs %}
        <li class="this_class">
            <div class="collapsible-header">
                <div class="class_header col">
                    <i class="material-icons accordion_arrow">expand_more</i>
                    <strong>{{ log.log_date }}</strong> &nbsp; / &nbsp; <em> {{ log.log_tag | capitalize}} </em>
                </div>
            </div>
            <div class="collapsible-body">
                <div class="row">
                    <div class="col no-gutters">
                        <span> {{ log.log_text | capitalize}} </span>
                    </div>
                </div>
                <div class="row no-gutters mb-n3">
                    <div class="col log-tools mt-2 mx-2 d-flex justify-content-end">
                        <a href="{{ url_for('delete_exercise', log_id=log._id, class_id=class_id) }}"
                            class="btn-floating btn-tiny red tooltipped" data-position="top" data-delay="50"
                            data-tooltip="Delete log"><i class="material-icons">delete</i></a>
                    </div>
                </div>
            </div>
        </li>
        {% endfor %}
    </ul>
    {% else %}
    <div class="mb-6">
        <strong class="mb-6">No logs added yet</strong>
    </div>
    {% endif %}
</section>
<br>
<!-- TOOLS BUTTON FOR THE TOOLS: EDIT/DELETE/DUPLICATE/ADD EXERCISE/ ADD LOG-->
<section class="tools">
    <div class="fixed-action-btn horizontal">
        <a class="btn-floating btn-large red tooltipped" id="class-tools" data-position="top" data-delay="50"
            data-tooltip="Editor tools">
            <i class="medium material-icons">build</i></a>
        <ul>
            <li><a href="{{ url_for('add_log', class_id=this_class._id) }}" class="btn-floating blue darken-2 tooltipped"
                    data-position="top" data-delay="50" data-tooltip="Add log">
                    <i class="material-icons">event_note</i></a></li>
            <li><a href="{{ url_for('add_exercise', class_id=this_class._id) }}" class="btn-floating deep-purple lighten-1 tooltipped"
                    data-position="top" data-delay="50" data-tooltip="Add exercise">
                    <i class="material-icons">content_paste</i></a></li>
            <li><a href="{{ url_for('edit_class', class_id=this_class._id) }}" class="btn-floating green tooltipped"
                    data-position="top" data-delay="50" data-tooltip="Edit class">
                    <i class="material-icons">edit</i></a></li>
            <li><a href="{{ url_for('delete_class', class_id=this_class._id) }}" class="btn-floating red tooltipped"
                    data-position="top" data-delay="50" data-tooltip="Delete class">
                    <i class="material-icons">delete</i></a></li>
            <li><a href="{{ url_for('copy_class', class_id=this_class._id) }}"
                    class="btn-floating blue-lighten-2 tooltipped" data-position="top" data-delay="50"
                    data-tooltip="Duplicate class">
                    <i class="material-icons">content_copy</i></a></li>
        </ul>
    </div>
</section>
<br>
<!-- BOTTOM BUTTON  'BACK TO CLASSES' TO NAVIGATE TO THE PREVIOUS PAGE CLASSES VIEW -->
<div class="divider"></div>
<br>
<div class="section">
    <div class="container bottom_actions w-100">
        <div class="row">
            <div class="col ml-n5 mr-0 mt-6 mb-10 d-flex no-gutters justify-content-beginning">
                <a href="{{ url_for('classes') }}" class="btn-small waves-effect waves-light black tooltipped go_back"
                    name="go_back" data-position="bottom" data-delay="50" data-tooltip="Go back">
                    <i class="material-icons left">chevron_left</i>Back to Classes</a>
            </div>
        </div>
    </div>
</div>



{% endblock content %}