{% extends "base.html"%}

{% block content %}
<h1>{{ this_class.class_name }}</h1>

<h5>Description</h5>
<p>{{ this_class.class_description }}</p>
<h5>Main Elements</h5>
<p>{{ this_class.class_description }}</p>
<h5>Secondary Elements</h5>
<p>{{ this_class.class_description }}</p>

<div class="container-fluid no-gutters pl-3">
    <div class="row">
        <div class="col-3 no-gutters pl-0">
            <h5>Series</h5>
        </div>
        <div class="col no-gutters">
            something
        </div>
    </div>
    <div class="row">
        <div class="col-3 no-gutters pl-0">
            <h5>Playlist Link</h5>
        </div>
        <div class="col no-gutters">
            something
        </div>
    </div>
</div>

<h5>Exercises:</h5>
<ul class="collapsible popout" data-collapsible="accordion">
    {% for exercise in exercises %}
    <li class="classes">
        <div class="collapsible-header">
            <div class="class_header col">
                <i class="material-icons accordion_arrow">expand_more</i>
                <strong>{{ exercise.exercise_name }}</strong>
            </div>
        </div>
        <div class="collapsible-body">
            <span>{{ exercise.exercise_description }} </span>
        </div>
    </li>
    {% endfor %}
</ul>
<!-- BOTTOM BUTTON  'GO BACK' TO NAVIGATE TO THE PREVIOUS PAGE -->
<!-- SAVE inserts the content and returns to SERIES VIEW  - .save() the changes to an existing exercise with an existing _id and sub-document _id,s-->
<div class="divider"></div>
<div class="section">
    <div class="container bottom_actions ml-0 mr-0 mt-6 mb-6 w-100">
        <div class="row">
            <div class="col d-flex justify-content-end">
                <a href="{{ url_for('classes') }}" class="btn-small waves-effect waves-light black tooltipped go_back"
                    name="go_back" data-position="bottom" data-delay="50" data-tooltip="Go back">
                    <i class="material-icons left">chevron_left</i>Go back</a>
            </div>
        </div>
    </div>
</div>



{% endblock content %}